/*img {
        vertical-align: baseline !important;
}*/
#container10 {
    border-style: solid;
    border-width: 2px;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

#spacer {
    background-color: green;
    min-height: 5px;
    position: sticky;
    top: 0px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
    background-color: green;
    display: none;
    justify-content: center;
    /*width: 100%;*/
    flex-wrap: wrap;
    border: 10px;
    border-style: ridge;
    border-color: darkgray;
    margin: 0px 20px 20px 20px;
    padding: 10px;
  }

.sticky img {
    width: 60px;
}

#body-div {
    background-color: green;
    
}

#container7 {
    
    /*align-items: center;*//*padding: 5px;*/
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 5px;
    /*padding: 5px;*/
}

#container9 {
    margin: 0px 5px 20px 5px;
    padding: 5px;
    
}

#container6  {

    width: 100%;
    justify-content: space-between;
    display: flex;
}
    /*position: absolute;
    bottom: 0px;
    
    flex-wrap: wrap;
}*/

#container8 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

/*#body-div div {
    border-style: none;
    border-width: 2px;
    padding: 0 5px 5px 5px;
}*/

.random-card img {
    border-style: none;
    max-height: 130px;
    width: auto;
    border-style: solid;
    border-color: black;
    margin-top: -33px;
}

#container1-1 img {
    margin-top: 5px;
}



.readyforselection {
    width: 100px;
    padding: 2px;
}

.card-span {
    /*width: 94px;*/
    display: inline-block;
    margin: 3px;
    width: 65px;
    height: 98px;
    /*padding: 5px;*/
    border-style: solid;
    border-radius: 2px;
    border-color: black;
    
    
}

#selected-card {
    vertical-align: baseline;
}


button {
    font-size: 12px;
    margin: 2px;
    height: 40px;
    font-weight: bold;
    background-color: red;
    border-radius: 4px;
    border-style: solid;
    border-color: black;
}


/*@media only screen and (max-width: 768px) {
    .sticky img {
        width: 50px;
    }*/
    

    .readyforselection {
        width: 70px;
    }




@media only screen and (min-width: 768px) {
    .random-card img {
        max-height: 280px;
    }

}

@media only screen and (min-width: 992px) {
    .random-card img {
        margin-top: -150px;
        max-width: 180px;
        height: auto;
        }
}