#container13 p{
    font-family: Teko, sans-serif;
    font-size: 16px;
    text-align: center;
}

#container13 {
    justify-content: center;
}

/* Score + Difficulty Level display*/
#container10 {
    border-style: solid;
    border-width: 2px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px;
}

/* Goolge fonts Teko font for Score + Difficulty Level display */
#container10 p {
    font-family: 'Teko', sans-serif;
    margin-bottom: 0px;
}

/* to prevent issues at screen periphary */
#spacer {
    background-color: green;
    min-height: 5px;
    position: sticky;
    top: 0px;
}


/* player interface area to stick to the top of the screen */
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
    background-color: green;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    border: 10px;
    border-style: ridge;
    border-color: darkgray;
    margin: 0px 20px 20px 20px;
    padding: 10px;
  }

.sticky img {
    width: 60px;
}

/* background color for the screen */
#body-div {
    background-color: green;
    min-height: 1000px;
}

/* 52 cards for player selection*/
#container7 {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 5px;
}

/* player interface area */
#container9 {
    margin: 0px 5px 20px 5px;
    padding: 5px;
    
}

/* container for player buttons */
#container6  {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

/* container for placeholders */
#container8 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}


/* card images loading at start of each round*/
.random-card img {
    border-style: none;
    max-height: 130px;
    width: auto;
    border-style: solid;
    border-color: black;
    margin-top: -33px;
}

#container1-1 img {
    margin-top: 5px; /*creates space between player interface area and the 52 cards for selection */
}

/* 52 cards that player can select */
.readyforselection {
    width: 70px;
    padding: 2px;
}

/* for player's card placeholders */
.card-span {
    
    display: inline-block;
    margin: 3px;
    width: 65px;
    height: 98px;
    border-style: solid;
    border-radius: 2px;
    border-color: black;   
}


/* card that goes into the player's placholder once selected */
#selected-card {
    vertical-align: baseline;
}

/* buttons */
button {
    font-size: 12px;
    margin: 2px;
    height: 40px;
    font-weight: bold;
    background-color: red;
    border-radius: 4px;
    border-style: solid;
    border-color: black;
}

#instructions-button {
    background-color: grey;
}

/* tablet  + laptop size screens */
@media only screen and (min-width: 768px) {
    .random-card img { /* card images at start of round */ 
        max-height: 280px;
    }

    #container1-2 { /*prevents 2nd and 3rd card overlapping in the vertical*/
        margin-bottom: 50px;
    }

    .readyforselection {
        width: 90px;
    }

    #container6 {
        justify-content: center;
        margin: 10px;
    }

    #container10 {
        justify-content: space-around;
    }

    #container10 p {
        font-size: 2rem;
    }

    button {
        font-size: 20px;
        height: 50px;
    }

    .sticky img {
        width: 87px;
    }

    .card-span {
    width: 93px;
    height: 140px;
    }

    #body-div {
    min-height: auto;
    }

    #container13 p {
        font-size: 32px;
    }

}

/* larger size screens */
@media only screen and (min-width: 992px) {
    .random-card img {   /* card images at start of round */
        margin-top: -150px;
        max-width: 180px;
        height: auto;
    }

    .readyforselection {
        width: 100px;
    }

    .card-span {
        width: 132px;
        height: 200px;
    }

    .sticky img {
        width: 127px;
    }
    
}