.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    display: none;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }


#body-div {
    background-color: #25852a;
    
}

#container7 {
    
    /*align-items: center;*//*padding: 5px;*/
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    /*padding: 5px;*/
}

/*#body-div div {
    border-style: none;
    border-width: 2px;
    padding: 0 5px 5px 5px;
}*/

.random-card img {
    border-style: none;
    max-height: 130px;
    width: auto;
    border-style: solid;
    border-color: black;
    margin-top: -33px;
}

#container1-1 img {
    margin-top: 5px;
}



.readyforselection {
    width: 90px;
    padding: 2px;
}

.card-span {
    /*width: 94px;*/
    padding: 2px;
    
}

@media only screen and (min-width: 768px) {
    .random-card img {
        max-height: 280px;
    }
}

@media only screen and (min-width: 992px) {
    .random-card img {
        margin-top: -150px;
        max-width: 180px;
        height: auto;
        }
}